# List and tuple
* list mutable [, , , ]
* tuple imutable ( , , ,  )

### list[index]
extract single value from list or tuple
### list[start:end]
extract multiple values from list or tuple (start enclude, end exclude one minus)
### list[start:end:seq]
extract multiple values from list or tuple also define sequance

* methods and attributes

In [1]:
name = "Muhammad Qasim"

In [2]:
# ->       0        1      2     3       4
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"]
#           -5      -4     -3    -2      -1       <-

#list[index]
#list[start:end]
#list[start:end:seq]

# list[index]
extract single value from list or tuple

In [3]:
# ->       0        1      2     3       4
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"]
#           -5      -4     -3    -2      -1       <-

print(names)
print(names[3]) # extract value with positive index
print(names[-2]) # extract value with negative index

['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']
Hamza
Hamza

In [4]:
# ->       0        1      2     3       4
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"] # elements, items
#           -5      -4     -3    -2      -1       <-
print("Before",names)

names[0] = "Muhammad Qasim" # update value with index number

print("After",names)

Before ['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']
After ['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']

In [5]:
names

['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']

### list[start:end]
## Slicing (extract multiple values in sequance)
extract multiple values from list or tuple (start enclude, end exclude one minus)

esc->m->shift+enter

In [6]:
# ->       0        1      2     3       4
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"] # elements, items
#           -5      -4     -3    -2      -1       <-

print(names[1:3]) # start enclude , end exclude index-1
print(names[1:4])
print(names[1:5])

['Nasir', 'Ali']
['Nasir', 'Ali', 'Hamza']
['Nasir', 'Ali', 'Hamza', 'Mansoor']

#### what we apply before slicing feature not part of this class just for refference we write here

In [7]:
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"] # elements, items


i = 0
while i<len(names):
    print(names[i])
    i += 1

Qasim
Nasir
Ali
Hamza
Mansoor

In [8]:
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"] # elements, items

s = int(input("start no:"))
e = int(input("end no:"))
i = s
while i<e:
    print(names[i])
    i += 1

### list[start:end:seq]
extract multiple values from list or tuple also define sequance<br>
start = enclude<br>
end = exclude or index-1<br>
sequance = steps (defualt value of step=1)<br> 


- range(start,end,step)

In [ ]:
numbers = list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[8:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[:16])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[7:16]) #numbers[7:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[::2]) #numbers[7:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[::3]) #numbers[7:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 7, 10, 13, 16, 19]

if step = 1 (slicing left to right)<br>
if step = -1 (slicing right to left)

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[::-1]) # right to left

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[0:10:-1]) # right to left
print(numbers[::-1]) # right to left
print(numbers[-11:-21:-1])
print(numbers[9::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)
print(numbers[::-1])
print(numbers[3:0:-1]) #4,3,2
print(numbers[-2:-5:-1]) #4,3,2

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[4, 3, 2]
[4, 3, 2]

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)
print(numbers[-2:-5:]) #4,3,2
print(numbers[-5:-2:1])
print(numbers[2::-1])

[1, 2, 3, 4, 5]
[]
[1, 2, 3]
[3, 2, 1]

In [ ]:
Name = Muhammad Qasim = AIC-100000
Name = Muhammad Qasim = AIC-100000

# Attendance Script

In [10]:
data = open("meeting_saved_chat.txt")
data = data.readlines()

In [11]:
import pandas as pd
students_roll_no = []

import re
for r in data:
    a = re.findall("AIC\d{2,7}",r)
    b = re.findall("AIC-\d{2,7}",r)
    result = a+b
    result = list(set([i.replace("-","") for i in result]))
    if len(result)>=1 and result[0] not in students_roll_no:
        students_roll_no.append(result[0])

print(len(students_roll_no))
d = pd.DataFrame({"roll no":sorted(students_roll_no)})

197

In [12]:
d.to_excel("NEWroll no.xlsx",index=False)

In [13]:
print(len(d))

197

# List methods

In [ ]:
names

['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']

In [ ]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
print(names)
names.append("Asif")# add element in the list at last
print(names)

['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']
['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor', 'Asif']

In [ ]:
names.append("Hamza")
print(names)

['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor', 'Asif', 'Hamza']

In [ ]:
print(numbers)
numbers.clear()
print(numbers)

[1, 2, 3, 4, 5]
[]

In [ ]:
sname = names
print(names)
print(sname)

names[0]="Muhammad Qasim"

print(names)
print(sname)

['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor', 'Asif', 'Hamza']
['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor', 'Asif', 'Hamza']
['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor', 'Asif', 'Hamza']
['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor', 'Asif', 'Hamza']

In [ ]:
l1 = ['1','2','3']
l2 = l1.copy()
print(l1)
print(l2)

['1', '2', '3']
['1', '2', '3']

In [ ]:
l1[0] = "ABC"

print(l1)
print(l2)

['ABC', '2', '3']
['1', '2', '3']

In [ ]:
names

['Muhammad Qasim',
 'Nasir',
 'Ali',
 'Hamza',
 'Mansoor',
 'Asif',
 'Muhammad Qasim']

In [ ]:
l1 = ['1','2','3']
l2=l3=l4 = l1 # nick name or shallow copy

l4[0] = 'ABC'

print(l1)
print(l2)
print(l3)
print(l4)

['ABC', '2', '3']
['ABC', '2', '3']
['ABC', '2', '3']
['ABC', '2', '3']

In [ ]:
l1 = ['1','2','3']
l4 = l1.copy() # Deep copy

l4[0] = 'ABC'

print(l1)
print(l4)

['1', '2', '3']
['ABC', '2', '3']

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]

l1 + l2

[1, 2, 3, 4, 5, 6]

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]

l1.extend(l2)

print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [ ]:
l1

[1, 2, 3, 4, 5, 6]

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]

l1.append(l2)

print(l1)
print(l2)

[1, 2, 3, [4, 5, 6]]
[4, 5, 6]

In [ ]:
names

['Muhammad Qasim',
 'Nasir',
 'Ali',
 'Hamza',
 'Mansoor',
 'Asif',
 'Muhammad Qasim']

In [8]:
names = ['Muhammad Qasim',
 'Nasir',
 'Ali',
 'Hamza',
 'Mansoor',
 'Asif',
 'Muhammad Qasim']
names.index ("Mansoor")

4

In [9]:
names.index("Muhammad Qasim")

0