Problem 1

How to import pandas and check the version?

In [8]:
import pandas as pd
import numpy as np
print ("Panda Version = ", pd.__version__)
print ("Numpy Version = ", np.__version__)

Panda Version =  1.4.4
Numpy Version =  1.21.5

Problem 2

Create a pandas series from each of the items below: a list, numpy and a dictionary

Input

```
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

In [10]:
# Creating series from a list
mylist = list('abcedfghijklmnopqrstuvwxyz')
series_from_list = pd.Series(mylist)
series_from_list

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [11]:
# Creating series from a numpy array
myarr = np.arange(26)
series_from_numpy = pd.Series(myarr)
series_from_numpy

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [12]:
# Creating series from a dictionary
mydict = dict(zip(mylist, myarr))
series_from_dict = pd.Series(mydict)
series_from_dict

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

Problem 3

Convert the series ser into a dataframe with its index as another column on the dataframe.

Input

```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

In [13]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.reset_index()
df.columns = ['letter', 'number']

df

   letter  number
0       a       0
1       b       1
2       c       2
3       e       3
4       d       4
5       f       5
6       g       6
7       h       7
8       i       8
9       j       9
10      k      10
11      l      11
12      m      12
13      n      13
14      o      14
15      p      15
16      q      16
17      r      17
18      s      18
19      t      19
20      u      20
21      v      21
22      w      22
23      x      23
24      y      24
25      z      25

Problem 4

Combine ser1 and ser2 to form a dataframe.

Input:

```
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
```

In [14]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1, ser2], axis=1)
df.columns = ['letters', 'numbers']

df

   letters  numbers
0        a        0
1        b        1
2        c        2
3        e        3
4        d        4
5        f        5
6        g        6
7        h        7
8        i        8
9        j        9
10       k       10
11       l       11
12       m       12
13       n       13
14       o       14
15       p       15
16       q       16
17       r       17
18       s       18
19       t       19
20       u       20
21       v       21
22       w       22
23       x       23
24       y       24
25       z       25

Problem 5

Get all items of ser1 and ser2 not common to both.

Input

```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

In [101]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

mask = ~(ser1.isin(ser2) | ser2.isin(ser1))

result = pd.concat([ser1[mask], ser2[mask]])

result

2    3
2    6
dtype: int64

Problem 6

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Input

```
ser = pd.Series(np.random.normal(10, 5, 25))

```

In [45]:
ser = pd.Series(np.random.normal(10, 5, 25))

summary = ser.describe(percentiles=[0.25, 0.5, 0.75])
output = summary[['min', '25%', '50%', '75%', 'max']]

print(output)

min     1.415449
25%     8.420295
50%    10.288659
75%    13.471504
max    19.521894
dtype: float64

Problem 7

Calculte the frequency counts of each unique value ser.

Input

```
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
```

In [47]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

output = ser.value_counts()

print(output)

g    8
a    7
c    5
f    4
b    2
e    2
d    1
h    1
dtype: int64

Problem 8

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

Input

```

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
```

In [48]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

counts = ser.value_counts()
top2 = counts.index[:2]

result = ser.replace(list(set(ser) - set(top2)), 'Other')

print(result)

0         2
1         2
2         1
3         2
4         1
5     Other
6         2
7     Other
8         2
9     Other
10        1
11        1
dtype: object

Problem 9

Bin the series ser into 10 equal deciles and replace the values with the bin name.

Input
```
ser = pd.Series(np.random.random(20))
```
Desired Output

```
# First 5 items
0    7th
1    9th
2    7th
3    3rd
4    8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]
```

In [50]:
ser = pd.Series(np.random.random(20))

result = pd.qcut(ser, q=10, labels=False)
result = pd.Series(result).map(lambda x: f'Decile{x+1}')

print(result)

0      Decile7
1      Decile2
2      Decile1
3      Decile5
4      Decile9
5      Decile8
6      Decile6
7      Decile6
8      Decile5
9      Decile2
10    Decile10
11     Decile1
12     Decile3
13     Decile4
14     Decile3
15     Decile9
16     Decile7
17     Decile8
18     Decile4
19    Decile10
dtype: object

Problem 10

Reshape the series ser into a dataframe with 7 rows and 5 columns

Input

```
ser = pd.Series(np.random.randint(1, 10, 35))
```

Problem 11 

Find the positions of numbers that are multiples of 3 from ser.

Input

```
ser = pd.Series(np.random.randint(1, 10, 7))
```

In [51]:
ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(np.array(ser).reshape(7,5))

print(df)

   0  1  2  3  4
0  2  8  6  4  4
1  2  1  6  3  2
2  7  5  2  5  7
3  6  1  4  6  4
4  3  5  6  9  7
5  9  1  1  4  7
6  7  9  2  2  5

Problem 12

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input

```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [52]:
# stack the series vertically

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# stack the series vertically
vertical_stack = pd.concat([ser1, ser2], axis=0)

print(vertical_stack)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [53]:
# stack the series horizontally

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# stack the series horizontally
horizontal_stack = pd.concat([ser1, ser2], axis=1)

print(horizontal_stack)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Problem 13

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input
```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [54]:
# stack the series vertically

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# stack the series vertically
vertical_stack = pd.concat([ser1, ser2], axis=0)

print(vertical_stack)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [55]:
# stack the series horizontally

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# stack the series horizontally
horizontal_stack = pd.concat([ser1, ser2], axis=1)

print(horizontal_stack)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Problem 14


Get the day of month, week number, day of year and day of week from ser.

Input
```
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
```
Desired output
```
Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [60]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# convert the values to datetime format
ser = pd.to_datetime(ser)

# extract the day of month
day_of_month = ser.dt.day.tolist()

# extract the week number
week_number = ser.dt.week.tolist()

# extract the day of year
day_of_year = ser.dt.dayofyear.tolist()

# extract the day of week
day_of_week = ser.dt.day_name().tolist()

print("Date: ", day_of_month)
print("Week number: ", week_number)
print("Day num of year: ", day_of_year)
print("Day of week: ", day_of_week)

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

C:\Users\Hp\AppData\Local\Temp\ipykernel_1720\2579370448.py:10: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  week_number = ser.dt.week.tolist()

Problem 15

From ser, extract words that contain atleast 2 vowels.

Input
```
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
```

Desired Output
```
0     Apple
1    Orange
4     Money
dtype: object
```

In [61]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Define a function to count the number of vowels in a string
def count_vowels(string):
    return sum(1 for char in string if char in 'aeiouAEIOU')

# Use a list comprehension to filter the words that have at least 2 vowels
result = [word for word in ser if count_vowels(word) >= 2]

print(result)

['Apple', 'Orange', 'Money']

Problem 16


Check if df has any missing values.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [62]:

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

if df.isna().any().any():
    print('DataFrame has missing values')
else:
    print('DataFrame has no missing values')

DataFrame has missing values

Problem 17

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

Input
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [98]:

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_values_count = df.isna().sum()
print('Missing values count in each column:\n', missing_values_count)

max_missing_values_column = missing_values_count.idxmax()
max_missing_values = missing_values_count[max_missing_values_column]

print('\nColumn with the maximum number of missing values:', max_missing_values_column)
print('Number of missing values:', max_missing_values)

Missing values count in each column:
 Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Column with the maximum number of missing values: Luggage.room
Number of missing values: 19

Problem 18

Replace missing values in Min.Price and Max.Price columns with their respective mean.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [63]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_values_count = df.isna().sum()
print('Missing values count in each column:\n', missing_values_count)

max_missing_values_column = missing_values_count.idxmax()
max_missing_values = missing_values_count[max_missing_values_column]

print('\nColumn with the maximum number of missing values:', max_missing_values_column)
print('Number of missing values:', max_missing_values)

Missing values count in each column:
 Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Column with the maximum number of missing values: Luggage.room
Number of missing values: 19

Problem 19

In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

```

In [65]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Replace missing values in Min.Price with the column's mean
df['Min.Price'] = df['Min.Price'].apply(lambda x: df['Min.Price'].mean() if pd.isnull(x) else x)

# Replace missing values in Max.Price with the column's median
df['Max.Price'] = df['Max.Price'].apply(lambda x: df['Max.Price'].median() if pd.isnull(x) else x)

print ("Min.Price  " ,df['Min.Price'])
print ("Min.Price  " , df['Min.Price'])

Min.Price   0     12.900000
1     29.200000
2     25.900000
3     17.118605
4     17.118605
        ...
88    16.600000
89    17.600000
90    22.900000
91    21.800000
92    24.800000
Name: Min.Price, Length: 93, dtype: float64
Min.Price   0     12.900000
1     29.200000
2     25.900000
3     17.118605
4     17.118605
        ...
88    16.600000
89    17.600000
90    22.900000
91    21.800000
92    24.800000
Name: Min.Price, Length: 93, dtype: float64

Problem 20

Get the first column (a) in df as a dataframe (rather than as a Series).

Input

```
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [72]:

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df['a']

0     0
1     5
2    10
3    15
Name: a, dtype: int32

Problem 21

1 - In df, interchange columns 'a' and 'c'.

2 - Create a generic function to interchange two columns, without hardcoding column names.

3 - Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

Input

```

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [75]:
#1 - In df, interchange columns 'a' and 'c'.

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
print ("orginal", df) 
df = df[['c', 'b', 'a', 'd', 'e']]
print ("Column interchange", df)

orginal     a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
Column interchange     c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [92]:
#2 - Create a generic function to interchange two columns, without hardcoding column names.
def interchange_columns(df, col1, col2):
    df = df.copy()
    df[col1], df[col2] = df[col2], df[col1]
    return df

print (interchange_columns, df, 4, 1)

<function interchange_columns at 0x0000026A844BF8B0>     e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15 4 1

In [94]:
#3 - Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

df = df[sorted(df.columns, reverse=True)]
df

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

Problem 22

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [95]:

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.iloc[1::20, [0, 2, 4]]

   Manufacturer     Type  Price
1           NaN  Midsize   33.9
21     Chrysler    Large   29.5
41        Honda    Small   12.1
61   Mitsubishi    Small   10.3
81       Subaru  Compact   19.5

Problem 23 

Find the row position of the 5th largest value of column 'a' in df.

Input

```
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
```

Problem 24 

In ser, find the position of the 2nd largest value greater than the mean.

Input
```
ser = pd.Series(np.random.randint(1, 100, 15))
```

In [96]:

df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

# Get the row position of the 5th largest value in column 'a'
row_pos = df['a'].argsort()[::-1][4]

print(row_pos)

8

Problem 25


Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

Input

```
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
```
Output

```
   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24
```

In [97]:


df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

# get one-hot encoding for column 'a'
one_hot = pd.get_dummies(df['a'])

# concatenate the original dataframe and one-hot dataframe along axis 1
result = pd.concat([one_hot, df.drop('a', axis=1)], axis=1)

# print the result
print(result)

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24